{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                {{title}}
                <div class="sub header">{{sub}}</div>
            </h2>
            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
              
                <div class="four fields">
                    {{ f.render_form_field(form.family) }}
                    {{ f.render_form_field(form.genus) }}
                    {{ f.render_form_field(form.species) }}
                    {{ f.render_form_field(form.variety) }}
                </div>

                <div class="three fields">
                    {{ f.render_form_field(form.size) }}
                    {{ f.render_form_field(form.quantity) }}
                    {{ f.render_form_field(form.price) }}
                </div>
                <div class="two fields">
              {# if SKU != 0 #}
                    {# f.render_form_field(form.supplier, 'disabled') #}
                    {# f.render_form_field(form.date_received, 'disabled') #}
              {# else #}
                    {{ f.render_form_field(form.supplier) }}
                    {{ f.render_form_field(form.date_received) }}
              {# endif #}
                </div>

                {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                    {{ f.render_form_field(field) }}
                {% endfor %}

            {{ f.end_form() }}
        </div>
    </div>

<script>
$("#family_select").change(function() {
  console.log("were in")
  var family_id = $("#family_select").find(":selected").val();
  var request = $.ajax({
    type: 'GET',
    contentType: "application/json; charset-utf-8",
    dataType: "json",
    url: '/plants/_get_genera/' + family_id,
    done: function(results) {
      JSON.parse(results);
      return results;
    },
  });
  request.done(function(data) {
    $("#genus_select").empty();
    $("#genus_select").append(
      $("<option></option>").attr(
        "value", '0').text('--- Select ---'))
    $("#species_select").empty();
    $("#species_select").append(
      $("<option></option>").attr(
        "value", '0').text('------'))
    for (var key in data) {
      if (data.hasOwnProperty(key)) {
        console.log(key + " -> " + data[key]);
        $("#genus_select").append(
          $("<option></option>").attr(
            "value", key).text(data[key]))
      }
    }
  });
});


$("#genus_select").change(function() {
  var genus_id = $("#genus_select").find(":selected").val();
  if (genus_id != 0) {
    var request = $.ajax({
      type: 'GET',
      contentType: "application/json; charset-utf-8",
      dataType: "json",
      url: '/plants/_get_species/' + genus_id,
      done: function(results) {
        JSON.parse(results);
        return results;
      },
    });
    request.done(function(data) {
      $("#species_select").empty();
      $("#species_select").append(
        $("<option></option>").attr(
          "value", '0').text('--- Select ---'))

      for (var key in data) {
        if (data.hasOwnProperty(key)) {
          console.log(key + " -> " + data[key]);
          $("#species_select").append(
            $("<option></option>").attr(
              "value", key).text(data[key]))
        }
      }
    });
  }
});

$("#species_select").change(function() {
  var species_id = $("#species_select").find(":selected").val();
  if (species_id != 0) {
    var request = $.ajax({
      type: 'GET',
      contentType: "application/json; charset-utf-8",
      dataType: "json",
      url: '/plants/_get_varieties/' + species_id,
      done: function(results) {
        JSON.parse(results);
        return results;
      },
    });
    request.done(function(data) {
      $("#variety_select").empty();
      $("#variety_select").append(
        $("<option></option>").attr(
          "value", '0').text('--- Select ---'))

      for (var key in data) {
        if (data.hasOwnProperty(key)) {
          console.log(key + " -> " + data[key]);
          $("#variety_select").append(
            $("<option></option>").attr(
              "value", key).text(data[key]))
        }
      }
    });
  }
});
</script>

{% endblock %}
